{% block content %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
<h2>Register</h2>
<style>
/* CSS */
.button-1{
  align-items: center;
  background-color: #0A66C2;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height:20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.button-1:hover,
.button-1:focus {
  background-color: #16437E;
  color: #ffffff;
}

.button-1:active {
  background: #09223b;
  color: rgb(255, 255, 255, .7);
}

.button-1:disabled {
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}

</style>

<form action="{% url 'login:home' %}" method="post">
  {% csrf_token %}

    <div class="whatever-class-name">
        Please enter your First Name
        {% render_field form.first_name class="form-control" placeholder="First Name" type="text" %}
      </div>
      <div class="whatever-class-name">
        Please enter your last name
        {% render_field form.last_name type="text" class="form-control" placeholder="Last Name" %}
      </div>
      <div class="whatever-class-name">
         Pick a username
        {% render_field form.username type="text" class="form-control" id="exampleInputUsername" placeholder="Username" %}
      </div>
      <div class="whatever-class-name">
        Pick your Password
        {% render_field form.password1 type="password" class="form-control" id="exampleInputPassword" placeholder="Password" %}
      </div>
      <div class="whatever-class-name">
        Re-enter your chosen Password
        {% render_field form.password2 type="password" class="form-control" id="exampleInputPassword1" placeholder="Confirm Password" %}
      </div>
      <div class="whatever-class-name">
        Please Enter your phone number without country-code or hyphens
        {% render_field form.phone type="phone" %}
      </div>
      <div class="whatever-class-name">
        Enter your Work Address
        {% render_field form.wadd%}
      </div>
      <div class="whatever-class-name">
        Enter your Home Address
        {% render_field form.hadd%}
      </div>
      <div class="whatever-class-name">
        Date of Birth
        {% render_field form.dob%}
      </div>
      <div class="whatever-class-name">
        Are you Vaccinated ?
        {% render_field form.Vaccinated%}
      </div>
    <button class="button-1 ">Submit</button>
</form>


<a href="{% url 'login' %}">Back to login</a>
<a href="{% url 'login' %}">Back to Home</a>
{% endblock %}